<% content_for :content do %>
    <div class="jumbotron text-center">
        <h1>Change • ish</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p>
                    <%= yield %>
                </p>
            </div>
            <div class="col-lg-6">
                <p>

                    <div class="caption">You can always change the world!</div>
                    <img src="https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1652&q=80" alt="The world from space">
                </p>

            </div>
        </div>
    </div>
    <% end %>
    <%= render template: "layouts/application" %>